<h2>Lista de Vendas</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            
            <td>Id</td>
            <td>Data</td>
            <td>Vendedor</td>
            <td>Cliente</td>
            <td>Total</td>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in (List<VendaModel>)ViewBag.ListaVendas)
            {
        <tr>

            <td>@item.Id</td>
            <td>@item.Data</td>
            <td>@item.Vendedor_Id</td>
            <td>@item.Cliente_Id</td>
            <td>@item.Total</td>
        </tr>

            }
        }
    </tbody>

</table>
<br />
<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Registrar Vendas</button>

<script>
    function Cadastrar()
    {
        window.location.href = "../Venda/Registrar";
    }

 
</script>
