@model VendaModel
<h2>Registrar Venda</h2>


<br />

<form asp-controller="Venda" asp-action="Registrar">
    <input type="hidden" asp-for="Id" value="@try { @ViewBag.Venda.Id } catch { } " />
    <div class="form-group">
        <label>Cliente</label>
        <select asp-for="Cliente_Id" class="form-control">
            @{
                foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            }

        </select>

    </div>
    @*<div class="form-group">
        <label>Vendedor</label>
        <select asp-for="Vendedor_Id" class="form-control">
            @{
                foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedor)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            }

        </select>
    </div>
        *@
    <label>Produto</label>
    <div class="form-group">
        <div class="col-lg-8">
            <select class="form-control" id="sltProduto">
                @{
                    foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
                    {
                        <option value="@item.Id">@item.Nome | @item.Preco_Unitario</option>
                    }
                }

            </select>
        </div>
        <div class="col-lg-1">
            <input type="text" class="form-control" value="1" id="txtQtde" />
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-block btn-primary" onclick="AdicionarProdutos()">Adicionar</button>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Preço Unitário</td>
                <td>Preço Total</td>
            </tr>
        </thead>

        <tbody id="listaProdutos"></tbody>
    </table>

    <br />
    <div style="float:left; font-size:22px;">Total: R$</div>
    <div style="float:left; font-size:22px; margin-left:5px;" id="divTotal">0.00</div>

    <input type="hidden" id="txtTotal" asp-for="Total" />
    <br /> <br />

    <textarea asp-for="ListaProdutos" id="ListaProdutosJSON" style="display:none"></textarea>
    <button type="submit" class="btn btn-block btn-success">Registrar</button>
    <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Listagem de Vendas</button>
</form>

<script>
    var Itens = new Object();
    Itens.Produtos = new Array();

    var CodigoProduto = document.getElementById("sltProduto");
    var QtdProduto = document.getElementById("txtQtde");
    var ListaProdutos = document.getElementById("listaProdutos");
    var TotalVenda = document.getElementById("divTotal");
    var Total = document.getElementById("txtTotal");
    var ListaProdutosJSON = document.getElementById("ListaProdutosJSON");

    function Voltar()
    {
        window.location.href = '../Venda/Index';
    }

    function AdicionarProdutos() {

        var DescricaoPreco = CodigoProduto.options[CodigoProduto.selectedIndex].text;
        var ArrayDescricaoPreco = DescricaoPreco.split('|');
        var total = (ArrayDescricaoPreco[1].replace(",", ".") * QtdProduto.value);
        total = Math.round(total * 100) / 100;

        Itens.Produtos.push({
            "CodigoProduto": CodigoProduto.value,
            "DescricaoProduto": ArrayDescricaoPreco[0],
            "QtdProduto": QtdProduto.value,
            "PrecoUnitario": ArrayDescricaoPreco[1],
            "Total": total
        });

        ListaProdutosJSON.innerHTML = JSON.stringify(Itens.Produtos);

        var produto = "<tr>" +
            "<td>" + CodigoProduto.value + "</td>" +
            "<td>" + ArrayDescricaoPreco[0] + "</td>" +
            "<td>" + QtdProduto.value + "</td>" +
            "<td> R$" + ArrayDescricaoPreco[1] + "</td>" +
            "<td> R$" + total + "</td>" +
            "</tr>";

        ListaProdutos.innerHTML += produto;
        var totalGeral = Math.round((TotalVenda.innerText * 1 + total) * 100) / 100;
        TotalVenda.innerHTML = totalGeral;
        txtTotal.value = totalGeral.toString().replace(".", ",");

    }


</script>
