<h3>Lista de Clientes</h3>

<table class="table table-bordered">

    <thead>
        <tr>
            <td>#</td>
            <td>#</td>
            <td>Id</td>
            <td>Nome</td>
            <td>Cpf</td>
            <td>Email</td>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
            {
                <tr>
                    <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.CPF</td>
                    <td>@item.Email</td>
                </tr>

            }
        }
    </tbody>

</table>
<br />
<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar</button>

<br /><br />
<button class="btn btn-block btn-primary" type="button" onclick="Voltar()">Retornar para Menu</button>

<script>
    function Voltar() {
        window.location.href = "../Home/Menu"
    }
</script>

<script>
    function Cadastrar() {
        window.location.href = "../Cliente/Cadastro";
    }

    function Editar(id) {
        window.location.href = "../Cliente/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "../Cliente/Excluir/" + id;
    }
</script>